.about {
    padding: 20px 20px;
    text-align: center;
}

.about-label {
    font-family: DM Serif Text;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.about-label::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0;
}

.about-label:hover {
    transform: translate(-2px);
    box-shadow: 0 8px 20px rbga(0, 0, 0, 0.25);
}

.about-text {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 24px;
}


@media (max-width: 768px) {
    .about {
        padding: 60px 20;
    }

    .about-label {
        max-width: 100%;
    }

    .about-text {
        font-size: 1.5rem;
    }

    .about-text p {
        font-size: 1rem;
        line-height: 1.7;
    }
}