.call-to-action {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    padding: 20px 5%;
    max-width: 1100px;
    margin: 0 auto 20px auto;
}

.buttons {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons a {
    display: inline-block;
    background: white;
    color: rgb(17, 24, 39);
    padding: 10px 20px;
    border-radius: 25px;

    border: solid;

    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    transform: translateY(0);

}

.buttons a:hover {
    transform: translateY(-2px);
    border-color:  rgb(59, 130, 246);
    box-shadow: 0 8px 20px rgba(116, 115, 115, 0.701);

}