body {

            margin: 0;
            min-height: 100vh;

            background: linear-gradient(to left,
                    #5b2be0,
                    #6d28d9,
                    #4f46e5,
                    #3b82f6);
            color: white;
        }

.p{
    margin-top: 0;
    margin-bottom: 0;
}