.header {
            
            height: 55px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .hamburger-menu {
            height: 24px;
            margin-left: 24px;
            margin-right: 24px;
        }