 .intro {
     display: flex;
     align-items: center;
     gap: 60px;
     justify-content: center;
     padding:20px 5%;
     max-width: 1100px;
     margin: 0 auto 20px auto;
 }


 .intro-text {
    display: flex;
    flex-direction: column;
    max-width: 520px;
 }

 .name {
     font-family: DM Serif Text;
     font-size: 3rem;
     margin-bottom: 10px;
 }

 .role {
     font-size: 1.8rem;
     margin-bottom: 10px;
 }

 .value-statement {
     font-size: 1.1rem;
     line-height: 1.6;
     margin-bottom: 20px;
 }

 .headshot {
     width: 300px;
     height: 300px;
     object-fit: cover;

     border-radius: 50%;
     border-color: black;
     border-style: solid;
     border-width: 5px;
 }

 .headshot:hover{
    border-color: rgb(59, 130, 246);

 }

 @media (max-width: 768px) {
     .intro {
         flex-direction: column;
         text-align: center;
         gap: 24px;
         justify-content: center;
         padding: 40px 10%;
     }
     .intro-text {
         max-width: 300px;
         align-items: center;
     }

     .headshot {
         width: 200px;
         height: 200px;
         padding-right: 0;
     }

     .name {
         font-family: DM Serif Text;
         font-size: 2.2rem;
     }

     .role {
         font-size: 1.4rem;
     }

     .value-statement {
         font-size: 1rem;
         line-height: 1.6;
     }

 }