.about{
    padding: 20px 20px;
    text-align: center;
}

.about-label{
    font-family: DM Serif Text;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.about-label::after{
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: black;
    margin: 0 auto 0;
}

.about-text{
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}
.about-text p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 24px;
}