.skills{
    padding: 20px 20px;
    text-align: center;
}

.skills-label{
    font-family: DM Serif Text;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.skills-text{
    max-width: 700px;
    margin: auto;
    text-align: left;
}

.skills-text p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 24px;
}
